In [1]:
import numpy as np
import pandas as pd

In [2]:
data={
    "LowerRange":[150,155,160,165,170,175,180],
    "UpperRange":[154,159,164,169,174,179,184],
    "Frequency":[5,2,6,8,9,11,6]
}

In [3]:
datadf=pd.DataFrame(data)

In [4]:
datadf

   LowerRange  UpperRange  Frequency
0         150         154          5
1         155         159          2
2         160         164          6
3         165         169          8
4         170         174          9
5         175         179         11
6         180         184          6

In [5]:
cfarray=[];
count=0;
for item in datadf['Frequency']:
    count+=item
    cfarray.append(count)
cfarray

[5, 7, 13, 21, 30, 41, 47]

In [6]:
n=0
for i in datadf['Frequency']:
    n+=i

In [7]:
maxfrequency=datadf.max()['Frequency']
maxfrequency

11

In [8]:
l=datadf.loc[(datadf['Frequency']==maxfrequency)]['LowerRange']-0.5
h=5

In [9]:
mohit=l.index-1

In [10]:
i=0
cf=0
for i in cfarray:
    if(i==mohit-1):
        cf=i
        break;
    ++i

In [11]:
median=l+((n/2 - cf)/maxfrequency)*h

In [12]:
median

5    185.181818
Name: LowerRange, dtype: float64

# Variance

In [13]:
datadf

   LowerRange  UpperRange  Frequency
0         150         154          5
1         155         159          2
2         160         164          6
3         165         169          8
4         170         174          9
5         175         179         11
6         180         184          6

In [14]:
LowerRangearray=[]
UpperRangearray=[]
frequency=[]
for item in datadf['LowerRange']:
    LowerRangearray.append(item)
    
for item in datadf['UpperRange']:
    UpperRangearray.append(item)
    
for item in datadf['Frequency']:
    frequency.append(item)

In [15]:
frequency

[5, 2, 6, 8, 9, 11, 6]

In [16]:
summean=0
midarray=[]
for i in range(0,len(frequency)):
    mid=(LowerRangearray[i]+UpperRangearray[i])/2
    midfre=mid*frequency[i]
    midarray.append(mid)
    summean+=midfre
mean=summean/n
mean

169.5531914893617

In [17]:
sum3=0
for i in range(0,len(frequency)):
    sum3+=frequency[i]*((midarray[i]-mean)**2)
variance=sum3/n
variance

81.7790855590765

# Standard Deviation

In [18]:
import math
sd=math.sqrt(variance)

In [19]:
sd

9.043178952065281