In [1]:
import pandas as pd
import numpy as np
import itertools
import math

# Question 3

In [2]:
a=9
prob = np.array([((math.e**(-a))*(a**i)/(math.factorial(i))) for i in range(11)])

In [3]:
prob

array([1.23409804e-04, 1.11068824e-03, 4.99809707e-03, 1.49942912e-02,
       3.37371552e-02, 6.07268793e-02, 9.10903190e-02, 1.17116124e-01,
       1.31755640e-01, 1.31755640e-01, 1.18580076e-01])

In [4]:
prob1=0
for i in range(10):
    prob1+=prob[i]

In [5]:
prob1=1-prob1

In [6]:
prob1

0.41259175566805817

In [7]:
prob2=0
for i in range(5):
    prob2+=prob[i]
prob2

0.05496364149510494

In [8]:
prob3=0
for i in range(8,11):
    prob3+=prob[i]
prob3

0.382091356027616

# Question1

In [19]:
no=(int)(input("Enter the number of times toss has to be made :- "))
df=pd.DataFrame(list(itertools.product('TH', repeat=no)))

Enter the number of times toss has to be made :- 5

In [20]:
df

    0  1  2  3  4
0   T  T  T  T  T
1   T  T  T  T  H
2   T  T  T  H  T
3   T  T  T  H  H
4   T  T  H  T  T
5   T  T  H  T  H
6   T  T  H  H  T
7   T  T  H  H  H
8   T  H  T  T  T
9   T  H  T  T  H
10  T  H  T  H  T
11  T  H  T  H  H
12  T  H  H  T  T
13  T  H  H  T  H
14  T  H  H  H  T
15  T  H  H  H  H
16  H  T  T  T  T
17  H  T  T  T  H
18  H  T  T  H  T
19  H  T  T  H  H
20  H  T  H  T  T
21  H  T  H  T  H
22  H  T  H  H  T
23  H  T  H  H  H
24  H  H  T  T  T
25  H  H  T  T  H
26  H  H  T  H  T
27  H  H  T  H  H
28  H  H  H  T  T
29  H  H  H  T  H
30  H  H  H  H  T
31  H  H  H  H  H