In [1]:
import pandas as pd
cw = pd.read_csv('data.csv')

In [2]:
cw

   No.  Color  Legs Height Smelly Species
0    1  White     3  Short    Yes       M
1    2  Green     2   Tall     No       M
2    3  Green     3  Short    Yes       M
3    4  White     3  Short    Yes       M
4    5  Green     2  Short     No       H
5    6  White     2   Tall     No       H
6    7  White     2   Tall     No       H
7    8  White     2  Short    Yes       H

In [3]:
color={"color":['white','green'],
    "M":[2/4,2/4],
     "H":[3/4,1/4]
}
dfcolor=pd.DataFrame(color)

legs={"legs":['2','3'],
    "M":[1/4,4/4],
     "H":[3/4,0/4]
}
dflegs=pd.DataFrame(legs)

smelly={"height":['Yes','No'],
    "M":[3/4,1/4],
     "H":[1/4,3/4]
}
dfsmelly=pd.DataFrame(smelly)

height={"height":['Tall','Short'],
    "M":[3/4,2/4],
     "H":[1/4,2/4]
}
dfheight=pd.DataFrame(height)

In [4]:
answer= 0.5 * 2/4 * 1/4 * 3/4  * 1/4

In [5]:
dflegs

  legs     M     H
0    2  0.25  0.75
1    3  1.00  0.00

In [6]:
dfcolor

   color    M     H
0  white  0.5  0.75
1  green  0.5  0.25

In [7]:
dflegs

  legs     M     H
0    2  0.25  0.75
1    3  1.00  0.00

In [8]:
dfcolor

   color    M     H
0  white  0.5  0.75
1  green  0.5  0.25

In [9]:
dfsmelly

  height     M     H
0    Yes  0.75  0.25
1     No  0.25  0.75

In [13]:
print("the conditional probability :",answer)

the conditional probability : 0.01171875

In [16]:
import pandas as pd
df = pd.read_csv('Data.csv')
df


print("Enter the  New Instance \n")
c=input("color: ")
l=int(input("no. of legs: "))
h=input("height: ")
s=input("smell: ")
f=0
cc="abs"
df.rename(columns = {'No.':'No'}, inplace = True)
for ind in (df.No-1):
  if(df['Color'][ind]==c and  df['Legs'][ind]==l and  df['Height'][ind]==h and  df['Species'][ind]==s):
    f=1
    cc=df['Species'][ind]
if f==1:
  print(cc)
else:
  print("Not present")

Enter the  New Instance

color:
no. of legs:

ValueError: invalid literal for int() with base 10: ''