# Q1

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
S=input("Enter the String :")
L=len(S)
N=int(input("Enter the integer N :"))

totaloutcomes=L*L

Enter the String :xyxx
Enter the integer N :4

In [3]:
sA=[]
sB=[]
difference=[]

In [4]:
for char1 in range(len(S)):
    for char2 in range(len(S)):
        sA.append(S[char1])
        sB.append(S[char2])
        difference.append(abs(char1-char2))

In [5]:
df=pd.DataFrame({'Sample(i)':sA , 'Sample(j)': sB, 'abs_diff':difference})
df

   Sample(i) Sample(j)  abs_diff
0          x         x         0
1          x         y         1
2          x         x         2
3          x         x         3
4          y         x         1
5          y         y         0
6          y         x         1
7          y         x         2
8          x         x         2
9          x         y         1
10         x         x         0
11         x         x         1
12         x         x         3
13         x         y         2
14         x         x         1
15         x         x         0

In [6]:
count=0
for i in range(len(df)):
    if(sA[i]==sB[i] and sA[i]=='x'):
        if(difference[i]<N):
            count=count+1
count

9

In [7]:
print("probability = ",count,"/", totaloutcomes)

probability =  9 / 16

# Q2

In [ ]:
M=int(input("Enter the value of  M: "))
n=int(input("Enter the no of positions : "))

In [ ]:
positions=[]
for i in range(n):
    hold=int(input("Enter the value of position : "))
    positions.append(hold)

In [ ]:
T=int(input("Checker T: "))

ans=0
i=0
for i in range(len(positions)):
    for j in range(i+1,n):
        if((abs(positions[i]-positions[j])>T) or (positions[i]>T or (M-positions[j])>T)):
            ans+=1

result= int(ans/n)

result