#**Lists**

In [2]:
a1 = [1,2,3,4,5,9]
a2 = [2,4,512,1,3]
print(a1+a2)
type(a1)

[1, 2, 3, 4, 5, 9, 2, 4, 512, 1, 3]

list

#**Tuple**

In [3]:
tuple1 = ('cs533','cs534', 'cs615')
print(tuple1)
tuple1[1]

('cs533', 'cs534', 'cs615')

'cs534'

#**Dictionary**

In [2]:
d = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", d['Name'])
print ("dict['Age']: ", d['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [4]:
d['Age'] = 8; 
d['School'] = "DPS School" 
print ("dict['Age']: ", d['Age'])
print ("dict['School']: ", d['School'])

dict['Age']:  8
dict['School']:  DPS School

#**Sets**

In [ ]:
my_set = {1,2,3,4,3,2}
print(my_set)

In [ ]:
ds1 = {}
print(type(ds1))

ds2 = set()
type(ds2)

# **More about Numpy**

In [1]:
import numpy as np
np_array = np.array([[3,5,25,23],[2,3,4,5]])
print(np_array)

[[ 3  5 25 23]
 [ 2  3  4  5]]

In [ ]:
np_array2 = np.ones((3,4),dtype=int)
print(np_array2)

In [ ]:
np_array3 = np.zeros((3,4),dtype=int)
print(np_array3)

In [ ]:
np_array4 = np.full((3,4),9)
print(np_array4)

In [ ]:
array = [2,45,634,23]
np_array = np.array(array)
print(np_array)

#**Pandas**

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/DATA_SCIENCE_LAB/iris.csv',sep=',')
df

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df['sepal_length'][0]

In [ ]:
df['sepal_length'][0:5]

# **LINE CHART**

*Show the change in value of an attribute with respece to x variable (which is often time)*

In [ ]:
from matplotlib import pyplot as plt
date = [25, 26, 27, 28, 29, 30, 31]
India = [21000, 24000, 25000, 30000, 32000, 32500, 34000]
USA = [24000, 29000, 32000, 41000, 49000, 49020, 50000]
plt.plot(date, India, color='blue', marker='*', linestyle='solid')
plt.plot(date, USA, color='red', marker='o', linestyle='solid')
plt.title('COVID-19 cases')
plt.ylabel('Number of cases')
plt.xlabel('Dates of august month')
plt.legend(['India', 'USA'], loc='lower right')
plt.show()

In [ ]:
plt.plot(date, India, 'g--',date, USA, 'b--')

plt.title('COVID-19 cases')
plt.ylabel('Number of cases')
plt.xlabel('Dates of august month')
plt.legend(['India', 'USA'], loc='lower right')
plt.show()

In [ ]:
# red dashes, blue squares and green triangles
plt.plot( date, India, 'bs--', date, USA, 'g^--')
plt.show()

# **BAR CHART**

*Represents data attribute values within a particular data category by using bars of different height*

In [ ]:
year = ['2001','2002','2003','2004','2005','2006','2007','2008','2009','2010']
runs = [941,854,1595,625,942,509,548,749,1052,961]
plt.bar(year, runs)
plt.xlabel('Year', fontsize=20)
plt.ylabel('Runs scored', fontsize=20)
plt.xticks( year, fontsize=10, rotation = 90)
plt.title('Number of runs scored by DHONI from 2001 to 2010',fontsize=15)
plt.show()

# **SCATTER CHART**

*Scatter plots are a commonly used data visualisation tool. They allow us to identify and determine if there is a relationship (correlation) between two variables and the strength of that relationship*

In [ ]:
import matplotlib.pyplot as plt
price = [2.50, 1.23, 4.02, 3.25, 5.00, 4.40]
sales_per_day = [34, 62, 49, 22, 13, 19]
plt.ylabel('sales per day', fontsize=20)
plt.xlabel('Price', fontsize=20)
plt.title('Number of sales per day according to the price',fontsize=15)
plt.scatter(price, sales_per_day)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

price = np.asarray([2.50, 1.23, 4.02, 3.25, 5.00, 4.40])
sales_per_day = np.asarray([34, 62, 49, 22, 13, 19])
profit_margin = np.asarray([20, 35, 40, 20, 27.5, 15])

plt.scatter(x=price, y=sales_per_day, s=profit_margin * 10)
plt.show()

In [ ]:
N = 6
colors = np.random.rand(N)
price = [2.50, 1.23, 4.02, 3.25, 5.00, 4.40]
sales_per_day = [34, 62, 49, 22, 13, 19]
profit_margin = np.asarray([20, 35, 40, 20, 27.5, 15])

plt.scatter(x=price, y=sales_per_day, s=profit_margin * 10, c= colors)
plt.show()

# **PIE CHART**

*good at showing percentage or proportional data.*

In [ ]:
labels = 'USA','India','Japan','China'
sizes = [30, 15, 45, 10]
fig1, ((ax1, ax2, ax3, ax4)) = plt.subplots(1, 4)
ax1.pie(sizes,labels=labels)
ax2.pie(sizes,labels=labels)
ax3.pie(sizes,labels=labels)
ax4.pie(sizes,labels=labels)
plt.show()

# **STATISTICS**

**MEAN & MEDIAN**

In [ ]:
def findMean(data):
    return np.sum(data)/len(data)

def findMedian(data):

    n = len(data)
    np.sort(data)
    midpoint = n // 2
    if n % 2 == 1:
        return data[midpoint]
    else:
        lo = midpoint - 1
        hi = midpoint
        return (data[lo] + data[hi]) / 2
    
data = 10*np.random.random(1000)
print(findMean(data))
print(findMedian(data))

**VARIANCE**

*it is the measurement of the distance of a set of random numbers from their collective average value. Variance is used in statistics as a way of better understanding a data set's distribution.*

$ Variance = \frac{\sum{({x-mean})^2}}{len(data)-1}$

In [ ]:
import numpy as np
def findVariance(data):
    mean = findMean(data)
    
    diff = data-mean
    
    return np.sum(diff**2)/(len(data)-1)

data = 10*np.random.random(10)
print(data)
findVariance(data)

**STANDARD DEVIATION**

In [ ]:
def findSD(data):
    return np.sqrt(findVariance(data))

data = 10*np.random.random(10)
findSD(data)

**CO-VARIANCE**

*Generally use the data science field for comparing data samples from different populations, and covariance is used to determine how much two random variables to each other*

$Cov(X, Y) = E([X-E(X)]. [Y-E(Y)])$

In [ ]:
x = [1692,1978,1884,2151,2519]
y = [68,102,110,112,154]
plt.scatter(x, y, c='r')
plt.show()

In [ ]:
def findCovariance(x,y):
    meanx = np.mean(x)
    meany = np.mean(y)
    
    diffx = x-meanx
    diffy = y-meany
    
    return np.sum(np.dot(diffx,diffy))/(len(x)-1)

findCovariance(x,y)

**CORRELATION**

*correlation, is used to determine change one variable is it affect another variable.*

$Cor(X, Y) = \frac{Cov(X, Y)}{sd(X).sd(Y)}$

In [ ]:
def findCorrelation(x,y):
    return findCovariance(x,y)/(findSD(x)*findSD(y))
findCorrelation(x,y)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/DATA_SICENCE/01Lab_04_01/wine.csv", sep = ',', header = None)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
data2 = df.fillna(0)
print(data2.head())

In [ ]:
data3 = df.fillna(df.mean())
print(data3.head())
data3.isnull().sum()

In [ ]:
data4 = df.fillna(df.median())
print(data4.head())
data4.isnull().sum()