In [ ]:
%%html
<marquee style='width: 35%; color: green;'><b>Welcome to Data Science LAB</b></marquee>

#Introduction to Python
**Python invented by guido van Rossum, 1989**

---



# **Why Python**


---




1.   Beginner friendly
2.   Versatile and flexible
3.   Most popular in machine learning world
4.   Most mature package libraries around


---



**According to 2019 rankings** 

  *Rank1 : Python*

  *Rank2 : Java*

  *Rank3 : Javascript*

  *Rank4 : C#*

  *Rank5 : PHP*

  *Rank6 : C/C++*

#Different IDE's available for Python:

---



*IDE --->  Integrated Development Environment*

 * Jupyter Notebook
 * PyCharm
 * Spyder
 * Canopy
 * VIM
 * ATOM
 * ....

#**Few example python concepts**

In [ ]:
2 + 3

5

In [ ]:
_

5

In [ ]:
9 * 7

63

In [ ]:
45-(8*7)-10/2

-16.0

In [ ]:
_

-16.0

# **Displaying output and its variations**

In [ ]:
print('CS2004')

CS2004

In [ ]:
print("CS2004")

CS2004

In [ ]:
print("I like 'MIB4'")
print('I like "MIB4"')

I like 'MIB4'
I like "MIB4"

#**Variables and Operators**


*Variable is a description of data, that you want to use in your program*

 * Variable is container and it holds the values, charcters, etc. 
 * The variable name should not start with number.
 * The variable name should not contain operators.

In [ ]:
x = 2                 #int
y = 5                 #int
xy = 7.2              #float

In [ ]:
print(type(x))
print(type(y))

<class 'int'>
<class 'int'>

**Multiple Assignments**

In [ ]:
a, b = 4, 5.0

In [ ]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      4
b          float    5.0
x          int      2
xy         float    7.2
y          int      5

In [ ]:
del a

In [ ]:
%whos

Variable   Type     Data/Info
-----------------------------
b          float    5.0
x          int      2
xy         float    7.2
y          int      5

In [ ]:
print(a)

NameError: ignored

In [ ]:
c = 2 +4j
print(type(c))

<class 'complex'>

In [ ]:
s = "Hello, Welcome to Data Science"

S = 'Hello, Welcome to Data Science1'

print(type(s))

print(s)

print(S)

<class 'str'>
Hello, Welcome to Data Science
Hello, Welcome to Data Science1

#**Operators**

---

Operator  | Operation
-------------------|------------------
+     | Addition
-      | Subtraction 
/     | Division
%      | Mod
*     | Multiplication
//     | Floor Division
**     | To the power of

In [ ]:
S1 = "Data Science"

S2 = " LAB"

S3 = S1 + S2

print(S3)

Data Science LAB

In [ ]:
s1 = "data"
s2 = 5
print(s1+s2)

TypeError: ignored

In [ ]:
print(len(S3))

16

**keywords can not be variable names**

In [ ]:
int = 9
float = 10
print(int, float)

9 10

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#**Booleans and Comparisons in Python**
---

Operator  | Operation
-------------------|------------------
==     | True, if it is equal
!=      | True, if it is not equal 
<     | Less than
>      | Greater than
<=    | Less tha or Equal to
>=     | Greater than or equal to

In [ ]:
a = True
b = True
c = False

In [ ]:
%whos

Variable   Type      Data/Info
------------------------------
S          str       Hello, Welcome to Data Science1
S1         str       Data Science
S2         str        LAB
S3         str       Data Science LAB
a          bool      True
b          bool      True
c          bool      False
float      int       10
int        int       9
keyword    module    <module 'keyword' from '/<...>ib/python3.7/keyword.py'>
s          str       Hello, Welcome to Data Science
s1         str       data
s2         int       5
x          int       2
xy         float     7.2
y          int       5

**AND**

|A  | B | A and B |
|---|---|----|
| True   | True | True |
| False     | True | False | 
| True    | False | False |
| False      | False | False |

In [ ]:
print(a and b)

print(a and c)

print(b and c)

print(not(a))

True
False
False
False

**OR**

|A  | B | A or B |
|---|---|----|
| True   | True | True |
| False     | True | True | 
| True    | False | True |
| False      | False | False |

In [ ]:
d = True

not ((a and b) or (c and d))

False

**Comparisions**

In [ ]:
3 == 3.0

True

In [ ]:
x = 4
y = 9
z = 8.3
r = -3

(x < y) and (z < y) or (r == x)

True

#**Some useful Functions**

**round()** ---> Function rounds the input value to a specified number of places or to be the nearest integer

In [ ]:
print(round(6.4231))

6

In [ ]:
print(round(4.555555842, 6))

4.555556

**divmod(x, y)** ---> Outputs the quotient and the remainder in a tuple

In [ ]:
divmod(27, 5)

(5, 2)

#**User defined functions**

In [ ]:
def printSuccess():
  print("I am Done")
  print("Send me another task")


printSuccess()

In [ ]:
def calculateSum(a,b):
    return a+b

print(calculateSum(234,56))
print(calculateSum(34.2,6.4))  
print(calculateSum('text1','text2'))

In [ ]:
def fun1(count):
    count = count +1
    print('in side function1--')
    if count < 10:
        fun1(count)
        
fun1(5)

#**Control Flow statements**

**If**

In [ ]:
a = int(input("Enter the 'a' value: "))

b = int(input("Enter the 'b' value: "))

if b > a:
  print("b is greater than a and value is: ", b)
else:
  print("a is greater than b and value is: ", a)

Enter the 'a' value: 10
Enter the 'b' value: 20
b is greater than a and value is:  20

**If-elif-else**

In [ ]:
a = int(input("Enter the 'a' value: "))

b = int(input("Enter the 'b' value: "))

if b > a:
  print("b is greater than a and value is: ", b)
elif a == b:
  print("a and b and valuea are equal")
else:
  print("a is greater than b and value is: ", a)

**Nested-if**

In [ ]:
a = int(input("Enter the a number: "))

if a > 10:
  print("Your number is above 10")
  if a > 20:
    print("and also above 20!")
  else:
    print("But not above 20.")

# Question 1 
User will enter a floating point number let say -238.915 your task is to find out the integer portion before the point (in this case -238) and then check if that integer portion is even or not?

#**Loops**

**while**

In [ ]:
n = int(input("Max iterations: "))

i = 1
while (i < n):
  print(i**2)
  print("This is iteration number: ", i)
  i = i + 1
print("Loop End")

**For loop**

In [ ]:
# for itr in range(0,10):
for itr in range(10,0,-1):
    print('loop',itr)